<!-- /templates/page.liquid -->

<section class="general-content">
	<div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">

      <h1>{% comment %}ly_code_replace_for_[ page.title ]_begin{% endcomment %}{% include 'ly-title' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      <div class="rte">
        {% comment %}ly_code_replace_for_[ page.content ]_begin{% endcomment %}{% include 'ly-content' with page %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
      </div>

        </div><!-- end .col-lg-10 -->
      </div><!-- end .row -->
  </div><!-- end .container -->
</section>
